<div style="margin-top: -105px">
    <div class="row justify-content-md-center align-items-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius:15px 0 0 15px; box-shadow:0 5px 5px 0 gray">
            <i class="bi bi-hdd-fill"></i>
            <h3>Back-end</h3>

            <p>
                Trabajo desde el desarrollo, pruebas automaticas y puesta en prodccion con entrega continua.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                Net Core, NodeJS, MongoDB, SqlServer
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Web Apis</li>
                <li>Asp.Net Core MVC</li>
                <li>Entity Framework</li>
                <li>Blazor</li>
                <li>Node-Express Mvc</li>
            </ul>
        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius:0 15px 15px 0; box-shadow:0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Front-end</h3>

            <p>
                Trabajo desde el desarrollo, pruebas automaticas y puesta en prodccion con entrega continua.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                Angular,Blazor,Jquery
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Angular Material</li>
                <li>Blazor WASM</li>
                <li>Jquery</li>
                <li>Leaflet</li>
                <li>BootStrap</li>
            </ul>
        </div>
    </div>
</div>


