<div class="text-center">

    <h1 class="display-4">Soy Miguel Alonso </h1>

    <h2>Soy desarrollador full stack junior especializado en tecnologías .NET y Javascript</h2>

    <img id="foto"
         src="~/imagenes/miguel con fondo.jpeg" alt="foto de miguel" />

</div>

<div class="text-center">
    <img id="imagen-dotnet" src="" alt="" />
</div>


<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Llevo un año como desarrollador dependiente e independiente manejando distintas tecnologías. Actualmente me encuentro asignado a SGS como Dev.
            Junior .Net apoyando en diversos requerimientos para el proyecto de ciberseguridad manejando tecnologias
            de C#/Asp.Net, Net Core, Sql Server, Angular, Entity Framework, Javascript, entre otros.
        </p>
    </div>
</div>