

@{
    ViewData["Title"] = "Pagina principal";
    
}

<div class="text-center">

    

    <h1 class="display-4">Soy @Model.Nombre </h1>
    
    <h2>@Model.Descripcion</h2>

    <img id="foto"
         src="~/imagenes/miguel con fondo.jpeg" alt="foto de miguel" />

</div>


