@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy @ViewBag.Nombre</h1>
    <h2>@ViewBag.Descripcion</h2>

    <img 
        id="foto"
        src="~/imagenes/miguel con fondo.jpeg" alt="foto de miguel" />

</div>


